{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/flowtype", "prettier/react"],
  "plugins": ["react", "react-native"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/default-props-match-prop-types": 0,
    "react/sort-comp": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/destructuring-assignment": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "no-use-before-define": 0,
    "no-unused-vars": 1,
    "global-require": 0,
    "import/first": 0,
    "no-undef": 0,
    "no-nested-ternary": 0,
    "class-methods-use-this": 0,
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0,
    "import/no-mutable-exports": 0,
    "no-prototype-builtins": 0,
    "no-console": 0,
    "prefer-template": 0
  }
}
